* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.4;
}

/* ===========Regsiter=========== */
.register-layout {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.register-layout .register-form {
  flex-grow: 1;
  max-width: 50%;
}
.register-layout .bg-register-layout {
  flex-grow: 1;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bg_register-layout.jpg);
}
.register-layout .container {
  padding: 76px 148px 90px;
  display: flex;
  flex-direction: column;
}
.register-form .register {
  font-size: 2.8rem;
}
.register-layout .desc {
  max-width: 90%;
  color: #b3b3b3;
  font-weight: 300;
  margin-top: 16px;
  margin-bottom: 40px;
}
.register-layout .form-group {
  display: flex;
  flex-direction: column;
}
.register-layout .input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.register-layout .form-group .form-control {
  width: 100%;
  padding: 15px;
  height: 74px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1.8rem;
}
.register-layout .form-group .form-control:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.register-layout .form-group .form-control:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.register-layout .form-group label {
  color: #888;
  font-size: 1.4rem;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.register-layout .form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.register-layout .form-group .Term-Conditions {
  color: #888;
  margin-left: 4px;
}
.register-layout .btn {
  width: 100%;
  height: 54px;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border-radius: 6px;
}
.register-layout .btn-register {
  margin-top: 52px;
  background-color: #007bff;
  border-color: #007bff;
}
.register-layout .btn-register:hover {
  background-color: #0069d9;
}
.register-layout .or {
  color: #6c757d;
  display: block;
  text-align: center;
  margin: 34px 0;
}
.register-layout a.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-layout a.btn:not(:last-child) {
  margin-bottom: 12px;
}
.register-layout a.btn .icon {
  margin-right: 12px;
}
.register-layout .btn-fb {
  background-color: #3b5998;
}
.register-layout .btn-fb:hover {
  background-color: #344e86;
}
.register-layout .btn-tw {
  background-color: #1da1f2;
}
.register-layout .btn-tw:hover {
  background-color: #0d95e8;
}
.register-layout .btn-gg {
  background-color: #ea4335;
}
.register-layout .btn-gg:hover {
  background-color: #e82e1e;
}

/* ===========product-list============= */
.product-list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}
.product-list a {
  text-decoration: none;
}
.product-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: 0 28px;
  border-bottom: 1px solid #ccc;
}
.product-list .header-left {
  display: flex;
  align-items: center;
}
.product-list .logo {
  width: 38px;
  height: 38px;
  border-radius: 8px;
}
.product-list .header-left .slogan {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 16px;
  color: #000;
}

.product-list .header-center {
  border: 2px solid #ccc;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.product-list .header-center .icon-search {
  font-size: 1.8rem;
  color: #ccc;
}
.product-list .header-center .input-search {
  width: 350px;
  padding: 8px;
  outline: none;
  border: none;
  font-size: 1.6rem;
}
.product-list .header-right {
  display: flex;
  align-items: center;
  padding: 8px;
}
.product-list .header-right .btn-header {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product-list .header-right .btn-course {
  font-size: 1.4rem;
  font-weight: 600;
}
.product-list .header-right .btn-bell {
  font-size: 2rem;
  color: #ccc;
  margin-left: 34px;
  margin-right: 20px;
}
.product-list .header-right .btn-bell:hover {
  color: #000;
}
.product-list .header-right .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.product-list .content {
  display: flex;
}
.product-list .nav-bar {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  padding-left: 12px;
  width: 100px;
  height: calc(100vh - 66px - 14px);
  margin-right: 40px;
  background-color: transparent;
}
.product-list .nav-bar .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 16px;
  color: #404040;
}
.product-list .nav-bar .nav:not(:first-child) {
  margin-top: 4px;
}
.product-list .nav-bar .nav:hover {
  background-color: #e8ebed;
}
.product-list .nav-bar .nav-1 {
  background-color: #e8ebed;
}
.product-list .nav-bar span {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 8px;
}
.product-list .nav-bar .nav-icon {
  font-size: 1.8rem;
}
.product-list .nav-bar .nav-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  margin-left: 12px;
  font-size: 1.8rem;
  margin-top: auto;
  margin-bottom: 58px;
}

.product-list .main {
  width: calc(100%-160px);
  margin-top: 56px;
}
.product-list .main .all-course {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.product-list .main .name-course {
  color: #242424;
  font-size: 2.4rem;
  font-weight: 900;
}
.product-list .main .course {
  width: 299px;
  height: 294px;
  background-color: #f7f7f7;
  border-radius: 14px;
  margin-top: 26px;
}
.product-list .main .img-course {
  width: 299px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.product-list .main .course-desc {
  margin: 0 18px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.product-list .main .desc {
  display: inline-block;
  color: #292929;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 8px;
}
.product-list .main .cost {
  color: #f05123;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 12px;
}
.product-list .main .sign-course {
  margin-top: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0093fc;
  color: #fff;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 1.6rem;
}
.product-list .main .sign-course:hover {
  background-color: #34abf5;
}
